@import "../variables";

.tpl-menus-menu-social-menu {
    padding: 13px 5px;

    a {
        @include inline-block;
        text-decoration: none;
        position: relative;
        margin-left: 2px;
        vertical-align: middle;

        i {
            font-size: 24px;
        }
    }

    // When published in Footer Bottom position
    .tpl-position-footer-bottom & {
        float: right;

        a {
            color: $color-white;
        }

        @media (max-width: $break-mobile) {
            float: none;
            text-align: center;
        }
    }
}