@import "../../variables";

.tpl-architect-static-accordion {
    color: $color-white;
    background: $color-red-9d;

    .tpl-architect-static-accordion-inner {
        .tpl-title {
            text-align: center;

            h3 {
                @include tpl-heading(3, $color: $color-white);
                @include inline-block;
                position: relative;
                width: auto;
                margin: 0;
                cursor: pointer;
                padding: 18px 5px 17px 50px;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    width: 25px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-family: $font-family-icons;
                    font-size: $font-size-h4 + 4px;
                    content: $tpl-fa-icon-arrow-down-solid;
                    color: $color-white;
                    margin-top: -12px;
                    @include transition(0.3s);
                }
            }
        }
        .tpl-body {
            color: inherit;
            padding-top: 15px;
            padding-bottom: 55px;
            display: none;
            font-weight: 400;
            line-height: 28px;

            .tpl-video-positioned {
                text-align: center;
                width: 100%;
                max-width: 600px;
                margin: 25px auto 0;
            }
        }
    }

    &.tpl-background-color-red {
        background: $color-red-9d;
    }
    &.tpl-background-color-blue {
        background: $color-blue;
    }
    &.tpl-background-color-sky-blue {
        background: $color-sky-blue;
    }
    &.tpl-background-color-green {
        background: $color-green;
    }
    &.tpl-background-color-white-dirty {
        background: $color-white-dirty;
        &,
        .tpl-architect-static-accordion-inner .tpl-title h3,
        .tpl-architect-static-accordion-inner .tpl-title h3:before {
            color: $color-dark;
        }
    }
    &.tpl-background-color-gray {
        background: $color-gray;
    }
    &.tpl-background-color-light-gray {
        background: $color-light-gray;
        &,
        .tpl-architect-static-accordion-inner .tpl-title h3,
        .tpl-architect-static-accordion-inner .tpl-title h3:before {
            color: $color-dark;
        }
    }
    &.tpl-background-color-sand {
        background: $color-sand;
        &,
        .tpl-architect-static-accordion-inner .tpl-title h3,
        .tpl-architect-static-accordion-inner .tpl-title h3:before {
            color: $color-dark;
        }
    }


    &.tpl-dark-text {
        &,
        .tpl-architect-static-accordion-inner .tpl-title h3,
        .tpl-architect-static-accordion-inner .tpl-title h3:before {
            color: $color-dark;
        }
    }


    &.expanded .tpl-architect-static-accordion-inner .tpl-title h3:before {
        @include rotate(180deg);
    }


    @media (max-width: 600px) {
        .tpl-architect-static-accordion-inner .tpl-title h3 {
            font-size: ceil(($font-size-h3) * 0.8);
            padding: 16px 5px 16px 36px;

            &:before {
                font-size: ceil(($font-size-h3 + 4px) * 0.8);
            }
        }
    }

    @media (max-width: 480px) {
        .tpl-architect-static-accordion-inner .tpl-title h3 {
            font-size: ceil(($font-size-h3) * 0.7);
            padding: 14px 5px 14px 32px;

            &:before {
                font-size: ceil(($font-size-h3 + 4px) * 0.7);
            }
        }
    }
}