$icomoon-font-path: "fonts" !default;

$linear-icon-home: "\e600";
$linear-icon-home2: "\e601";
$linear-icon-home3: "\e602";
$linear-icon-home4: "\e603";
$linear-icon-home5: "\e604";
$linear-icon-home6: "\e605";
$linear-icon-bathtub: "\e606";
$linear-icon-toothbrush: "\e607";
$linear-icon-bed: "\e608";
$linear-icon-couch: "\e609";
$linear-icon-chair: "\e60a";
$linear-icon-city: "\e60b";
$linear-icon-apartment: "\e60c";
$linear-icon-pencil: "\e60d";
$linear-icon-pencil2: "\e60e";
$linear-icon-pen: "\e60f";
$linear-icon-pencil3: "\e610";
$linear-icon-eraser: "\e611";
$linear-icon-pencil4: "\e612";
$linear-icon-pencil5: "\e613";
$linear-icon-feather: "\e614";
$linear-icon-feather2: "\e615";
$linear-icon-feather3: "\e616";
$linear-icon-pen2: "\e617";
$linear-icon-pen-add: "\e618";
$linear-icon-pen-remove: "\e619";
$linear-icon-vector: "\e61a";
$linear-icon-pen3: "\e61b";
$linear-icon-blog: "\e61c";
$linear-icon-brush: "\e61d";
$linear-icon-brush2: "\e61e";
$linear-icon-spray: "\e61f";
$linear-icon-paint-roller: "\e620";
$linear-icon-stamp: "\e621";
$linear-icon-tape: "\e622";
$linear-icon-desk-tape: "\e623";
$linear-icon-texture: "\e624";
$linear-icon-eye-dropper: "\e625";
$linear-icon-palette: "\e626";
$linear-icon-color-sampler: "\e627";
$linear-icon-bucket: "\e628";
$linear-icon-gradient: "\e629";
$linear-icon-gradient2: "\e62a";
$linear-icon-magic-wand: "\e62b";
$linear-icon-magnet: "\e62c";
$linear-icon-pencil-ruler: "\e62d";
$linear-icon-pencil-ruler2: "\e62e";
$linear-icon-compass: "\e62f";
$linear-icon-aim: "\e630";
$linear-icon-gun: "\e631";
$linear-icon-bottle: "\e632";
$linear-icon-drop: "\e633";
$linear-icon-drop-crossed: "\e634";
$linear-icon-drop2: "\e635";
$linear-icon-snow: "\e636";
$linear-icon-snow2: "\e637";
$linear-icon-fire: "\e638";
$linear-icon-lighter: "\e639";
$linear-icon-knife: "\e63a";
$linear-icon-dagger: "\e63b";
$linear-icon-tissue: "\e63c";
$linear-icon-toilet-paper: "\e63d";
$linear-icon-poop: "\e63e";
$linear-icon-umbrella: "\e63f";
$linear-icon-umbrella2: "\e640";
$linear-icon-rain: "\e641";
$linear-icon-tornado: "\e642";
$linear-icon-wind: "\e643";
$linear-icon-fan: "\e644";
$linear-icon-contrast: "\e645";
$linear-icon-sun-small: "\e646";
$linear-icon-sun: "\e647";
$linear-icon-sun2: "\e648";
$linear-icon-moon: "\e649";
$linear-icon-cloud: "\e64a";
$linear-icon-cloud-upload: "\e64b";
$linear-icon-cloud-download: "\e64c";
$linear-icon-cloud-rain: "\e64d";
$linear-icon-cloud-hailstones: "\e64e";
$linear-icon-cloud-snow: "\e64f";
$linear-icon-cloud-windy: "\e650";
$linear-icon-sun-wind: "\e651";
$linear-icon-cloud-fog: "\e652";
$linear-icon-cloud-sun: "\e653";
$linear-icon-cloud-lightning: "\e654";
$linear-icon-cloud-sync: "\e655";
$linear-icon-cloud-lock: "\e656";
$linear-icon-cloud-gear: "\e657";
$linear-icon-cloud-alert: "\e658";
$linear-icon-cloud-check: "\e659";
$linear-icon-cloud-cross: "\e65a";
$linear-icon-cloud-crossed: "\e65b";
$linear-icon-cloud-database: "\e65c";
$linear-icon-database: "\e65d";
$linear-icon-database-add: "\e65e";
$linear-icon-database-remove: "\e65f";
$linear-icon-database-lock: "\e660";
$linear-icon-database-refresh: "\e661";
$linear-icon-database-check: "\e662";
$linear-icon-database-history: "\e663";
$linear-icon-database-upload: "\e664";
$linear-icon-database-download: "\e665";
$linear-icon-server: "\e666";
$linear-icon-shield: "\e667";
$linear-icon-shield-check: "\e668";
$linear-icon-shield-alert: "\e669";
$linear-icon-shield-cross: "\e66a";
$linear-icon-lock: "\e66b";
$linear-icon-rotation-lock: "\e66c";
$linear-icon-unlock: "\e66d";
$linear-icon-key: "\e66e";
$linear-icon-key-hole: "\e66f";
$linear-icon-toggle-off: "\e670";
$linear-icon-toggle-on: "\e671";
$linear-icon-cog: "\e672";
$linear-icon-cog2: "\e673";
$linear-icon-wrench: "\e674";
$linear-icon-screwdriver: "\e675";
$linear-icon-hammer-wrench: "\e676";
$linear-icon-hammer: "\e677";
$linear-icon-saw: "\e678";
$linear-icon-axe: "\e679";
$linear-icon-axe2: "\e67a";
$linear-icon-shovel: "\e67b";
$linear-icon-pickaxe: "\e67c";
$linear-icon-factory: "\e67d";
$linear-icon-factory2: "\e67e";
$linear-icon-recycle: "\e67f";
$linear-icon-trash: "\e680";
$linear-icon-trash2: "\e681";
$linear-icon-trash3: "\e682";
$linear-icon-broom: "\e683";
$linear-icon-game: "\e684";
$linear-icon-gamepad: "\e685";
$linear-icon-joystick: "\e686";
$linear-icon-dice: "\e687";
$linear-icon-spades: "\e688";
$linear-icon-diamonds: "\e689";
$linear-icon-clubs: "\e68a";
$linear-icon-hearts: "\e68b";
$linear-icon-heart: "\e68c";
$linear-icon-star: "\e68d";
$linear-icon-star-half: "\e68e";
$linear-icon-star-empty: "\e68f";
$linear-icon-flag: "\e690";
$linear-icon-flag2: "\e691";
$linear-icon-flag3: "\e692";
$linear-icon-mailbox-full: "\e693";
$linear-icon-mailbox-empty: "\e694";
$linear-icon-at-sign: "\e695";
$linear-icon-envelope: "\e696";
$linear-icon-envelope-open: "\e697";
$linear-icon-paperclip: "\e698";
$linear-icon-paper-plane: "\e699";
$linear-icon-reply: "\e69a";
$linear-icon-reply-all: "\e69b";
$linear-icon-inbox: "\e69c";
$linear-icon-inbox2: "\e69d";
$linear-icon-outbox: "\e69e";
$linear-icon-box: "\e69f";
$linear-icon-archive: "\e6a0";
$linear-icon-archive2: "\e6a1";
$linear-icon-drawers: "\e6a2";
$linear-icon-drawers2: "\e6a3";
$linear-icon-drawers3: "\e6a4";
$linear-icon-eye: "\e6a5";
$linear-icon-eye-crossed: "\e6a6";
$linear-icon-eye-plus: "\e6a7";
$linear-icon-eye-minus: "\e6a8";
$linear-icon-binoculars: "\e6a9";
$linear-icon-binoculars2: "\e6aa";
$linear-icon-hdd: "\e6ab";
$linear-icon-hdd-down: "\e6ac";
$linear-icon-hdd-up: "\e6ad";
$linear-icon-floppy-disk: "\e6ae";
$linear-icon-disc: "\e6af";
$linear-icon-tape2: "\e6b0";
$linear-icon-printer: "\e6b1";
$linear-icon-shredder: "\e6b2";
$linear-icon-file-empty: "\e6b3";
$linear-icon-file-add: "\e6b4";
$linear-icon-file-check: "\e6b5";
$linear-icon-file-lock: "\e6b6";
$linear-icon-files: "\e6b7";
$linear-icon-copy: "\e6b8";
$linear-icon-compare: "\e6b9";
$linear-icon-folder: "\e6ba";
$linear-icon-folder-search: "\e6bb";
$linear-icon-folder-plus: "\e6bc";
$linear-icon-folder-minus: "\e6bd";
$linear-icon-folder-download: "\e6be";
$linear-icon-folder-upload: "\e6bf";
$linear-icon-folder-star: "\e6c0";
$linear-icon-folder-heart: "\e6c1";
$linear-icon-folder-user: "\e6c2";
$linear-icon-folder-shared: "\e6c3";
$linear-icon-folder-music: "\e6c4";
$linear-icon-folder-picture: "\e6c5";
$linear-icon-folder-film: "\e6c6";
$linear-icon-scissors: "\e6c7";
$linear-icon-paste: "\e6c8";
$linear-icon-clipboard-empty: "\e6c9";
$linear-icon-clipboard-pencil: "\e6ca";
$linear-icon-clipboard-text: "\e6cb";
$linear-icon-clipboard-check: "\e6cc";
$linear-icon-clipboard-down: "\e6cd";
$linear-icon-clipboard-left: "\e6ce";
$linear-icon-clipboard-alert: "\e6cf";
$linear-icon-clipboard-user: "\e6d0";
$linear-icon-register: "\e6d1";
$linear-icon-enter: "\e6d2";
$linear-icon-exit: "\e6d3";
$linear-icon-papers: "\e6d4";
$linear-icon-news: "\e6d5";
$linear-icon-reading: "\e6d6";
$linear-icon-typewriter: "\e6d7";
$linear-icon-document: "\e6d8";
$linear-icon-document2: "\e6d9";
$linear-icon-graduation-hat: "\e6da";
$linear-icon-license: "\e6db";
$linear-icon-license2: "\e6dc";
$linear-icon-medal-empty: "\e6dd";
$linear-icon-medal-first: "\e6de";
$linear-icon-medal-second: "\e6df";
$linear-icon-medal-third: "\e6e0";
$linear-icon-podium: "\e6e1";
$linear-icon-trophy: "\e6e2";
$linear-icon-trophy2: "\e6e3";
$linear-icon-music-note: "\e6e4";
$linear-icon-music-note2: "\e6e5";
$linear-icon-music-note3: "\e6e6";
$linear-icon-playlist: "\e6e7";
$linear-icon-playlist-add: "\e6e8";
$linear-icon-guitar: "\e6e9";
$linear-icon-trumpet: "\e6ea";
$linear-icon-album: "\e6eb";
$linear-icon-shuffle: "\e6ec";
$linear-icon-repeat-one: "\e6ed";
$linear-icon-repeat: "\e6ee";
$linear-icon-headphones: "\e6ef";
$linear-icon-headset: "\e6f0";
$linear-icon-loudspeaker: "\e6f1";
$linear-icon-equalizer: "\e6f2";
$linear-icon-theater: "\e6f3";
$linear-icon-3d-glasses: "\e6f4";
$linear-icon-ticket: "\e6f5";
$linear-icon-presentation: "\e6f6";
$linear-icon-play: "\e6f7";
$linear-icon-film-play: "\e6f8";
$linear-icon-clapboard-play: "\e6f9";
$linear-icon-media: "\e6fa";
$linear-icon-film: "\e6fb";
$linear-icon-film2: "\e6fc";
$linear-icon-surveillance: "\e6fd";
$linear-icon-surveillance2: "\e6fe";
$linear-icon-camera: "\e6ff";
$linear-icon-camera-crossed: "\e700";
$linear-icon-camera-play: "\e701";
$linear-icon-time-lapse: "\e702";
$linear-icon-record: "\e703";
$linear-icon-camera2: "\e704";
$linear-icon-camera-flip: "\e705";
$linear-icon-panorama: "\e706";
$linear-icon-time-lapse2: "\e707";
$linear-icon-shutter: "\e708";
$linear-icon-shutter2: "\e709";
$linear-icon-face-detection: "\e70a";
$linear-icon-flare: "\e70b";
$linear-icon-convex: "\e70c";
$linear-icon-concave: "\e70d";
$linear-icon-picture: "\e70e";
$linear-icon-picture2: "\e70f";
$linear-icon-picture3: "\e710";
$linear-icon-pictures: "\e711";
$linear-icon-book: "\e712";
$linear-icon-audio-book: "\e713";
$linear-icon-book2: "\e714";
$linear-icon-bookmark: "\e715";
$linear-icon-bookmark2: "\e716";
$linear-icon-label: "\e717";
$linear-icon-library: "\e718";
$linear-icon-library2: "\e719";
$linear-icon-contacts: "\e71a";
$linear-icon-profile: "\e71b";
$linear-icon-portrait: "\e71c";
$linear-icon-portrait2: "\e71d";
$linear-icon-user: "\e71e";
$linear-icon-user-plus: "\e71f";
$linear-icon-user-minus: "\e720";
$linear-icon-user-lock: "\e721";
$linear-icon-users: "\e722";
$linear-icon-users2: "\e723";
$linear-icon-users-plus: "\e724";
$linear-icon-users-minus: "\e725";
$linear-icon-group-work: "\e726";
$linear-icon-woman: "\e727";
$linear-icon-man: "\e728";
$linear-icon-baby: "\e729";
$linear-icon-baby2: "\e72a";
$linear-icon-baby3: "\e72b";
$linear-icon-baby-bottle: "\e72c";
$linear-icon-walk: "\e72d";
$linear-icon-hand-waving: "\e72e";
$linear-icon-jump: "\e72f";
$linear-icon-run: "\e730";
$linear-icon-woman2: "\e731";
$linear-icon-man2: "\e732";
$linear-icon-man-woman: "\e733";
$linear-icon-height: "\e734";
$linear-icon-weight: "\e735";
$linear-icon-scale: "\e736";
$linear-icon-button: "\e737";
$linear-icon-bow-tie: "\e738";
$linear-icon-tie: "\e739";
$linear-icon-socks: "\e73a";
$linear-icon-shoe: "\e73b";
$linear-icon-shoes: "\e73c";
$linear-icon-hat: "\e73d";
$linear-icon-pants: "\e73e";
$linear-icon-shorts: "\e73f";
$linear-icon-flip-flops: "\e740";
$linear-icon-shirt: "\e741";
$linear-icon-hanger: "\e742";
$linear-icon-laundry: "\e743";
$linear-icon-store: "\e744";
$linear-icon-haircut: "\e745";
$linear-icon-store-24: "\e746";
$linear-icon-barcode: "\e747";
$linear-icon-barcode2: "\e748";
$linear-icon-barcode3: "\e749";
$linear-icon-cashier: "\e74a";
$linear-icon-bag: "\e74b";
$linear-icon-bag2: "\e74c";
$linear-icon-cart: "\e74d";
$linear-icon-cart-empty: "\e74e";
$linear-icon-cart-full: "\e74f";
$linear-icon-cart-plus: "\e750";
$linear-icon-cart-plus2: "\e751";
$linear-icon-cart-add: "\e752";
$linear-icon-cart-remove: "\e753";
$linear-icon-cart-exchange: "\e754";
$linear-icon-tag: "\e755";
$linear-icon-tags: "\e756";
$linear-icon-receipt: "\e757";
$linear-icon-wallet: "\e758";
$linear-icon-credit-card: "\e759";
$linear-icon-cash-dollar: "\e75a";
$linear-icon-cash-euro: "\e75b";
$linear-icon-cash-pound: "\e75c";
$linear-icon-cash-yen: "\e75d";
$linear-icon-bag-dollar: "\e75e";
$linear-icon-bag-euro: "\e75f";
$linear-icon-bag-pound: "\e760";
$linear-icon-bag-yen: "\e761";
$linear-icon-coin-dollar: "\e762";
$linear-icon-coin-euro: "\e763";
$linear-icon-coin-pound: "\e764";
$linear-icon-coin-yen: "\e765";
$linear-icon-calculator: "\e766";
$linear-icon-calculator2: "\e767";
$linear-icon-abacus: "\e768";
$linear-icon-vault: "\e769";
$linear-icon-telephone: "\e76a";
$linear-icon-phone-lock: "\e76b";
$linear-icon-phone-wave: "\e76c";
$linear-icon-phone-pause: "\e76d";
$linear-icon-phone-outgoing: "\e76e";
$linear-icon-phone-incoming: "\e76f";
$linear-icon-phone-in-out: "\e770";
$linear-icon-phone-error: "\e771";
$linear-icon-phone-sip: "\e772";
$linear-icon-phone-plus: "\e773";
$linear-icon-phone-minus: "\e774";
$linear-icon-voicemail: "\e775";
$linear-icon-dial: "\e776";
$linear-icon-telephone2: "\e777";
$linear-icon-pushpin: "\e778";
$linear-icon-pushpin2: "\e779";
$linear-icon-map-marker: "\e77a";
$linear-icon-map-marker-user: "\e77b";
$linear-icon-map-marker-down: "\e77c";
$linear-icon-map-marker-check: "\e77d";
$linear-icon-map-marker-crossed: "\e77e";
$linear-icon-radar: "\e77f";
$linear-icon-compass2: "\e780";
$linear-icon-map: "\e781";
$linear-icon-map2: "\e782";
$linear-icon-location: "\e783";
$linear-icon-road-sign: "\e784";
$linear-icon-calendar-empty: "\e785";
$linear-icon-calendar-check: "\e786";
$linear-icon-calendar-cross: "\e787";
$linear-icon-calendar-31: "\e788";
$linear-icon-calendar-full: "\e789";
$linear-icon-calendar-insert: "\e78a";
$linear-icon-calendar-text: "\e78b";
$linear-icon-calendar-user: "\e78c";
$linear-icon-mouse: "\e78d";
$linear-icon-mouse-left: "\e78e";
$linear-icon-mouse-right: "\e78f";
$linear-icon-mouse-both: "\e790";
$linear-icon-keyboard: "\e791";
$linear-icon-keyboard-up: "\e792";
$linear-icon-keyboard-down: "\e793";
$linear-icon-delete: "\e794";
$linear-icon-spell-check: "\e795";
$linear-icon-escape: "\e796";
$linear-icon-enter2: "\e797";
$linear-icon-screen: "\e798";
$linear-icon-aspect-ratio: "\e799";
$linear-icon-signal: "\e79a";
$linear-icon-signal-lock: "\e79b";
$linear-icon-signal-80: "\e79c";
$linear-icon-signal-60: "\e79d";
$linear-icon-signal-40: "\e79e";
$linear-icon-signal-20: "\e79f";
$linear-icon-signal-0: "\e7a0";
$linear-icon-signal-blocked: "\e7a1";
$linear-icon-sim: "\e7a2";
$linear-icon-flash-memory: "\e7a3";
$linear-icon-usb-drive: "\e7a4";
$linear-icon-phone: "\e7a5";
$linear-icon-smartphone: "\e7a6";
$linear-icon-smartphone-notification: "\e7a7";
$linear-icon-smartphone-vibration: "\e7a8";
$linear-icon-smartphone-embed: "\e7a9";
$linear-icon-smartphone-waves: "\e7aa";
$linear-icon-tablet: "\e7ab";
$linear-icon-tablet2: "\e7ac";
$linear-icon-laptop: "\e7ad";
$linear-icon-laptop-phone: "\e7ae";
$linear-icon-desktop: "\e7af";
$linear-icon-launch: "\e7b0";
$linear-icon-new-tab: "\e7b1";
$linear-icon-window: "\e7b2";
$linear-icon-cable: "\e7b3";
$linear-icon-cable2: "\e7b4";
$linear-icon-tv: "\e7b5";
$linear-icon-radio: "\e7b6";
$linear-icon-remote-control: "\e7b7";
$linear-icon-power-switch: "\e7b8";
$linear-icon-power: "\e7b9";
$linear-icon-power-crossed: "\e7ba";
$linear-icon-flash-auto: "\e7bb";
$linear-icon-lamp: "\e7bc";
$linear-icon-flashlight: "\e7bd";
$linear-icon-lampshade: "\e7be";
$linear-icon-cord: "\e7bf";
$linear-icon-outlet: "\e7c0";
$linear-icon-battery-power: "\e7c1";
$linear-icon-battery-empty: "\e7c2";
$linear-icon-battery-alert: "\e7c3";
$linear-icon-battery-error: "\e7c4";
$linear-icon-battery-low1: "\e7c5";
$linear-icon-battery-low2: "\e7c6";
$linear-icon-battery-low3: "\e7c7";
$linear-icon-battery-mid1: "\e7c8";
$linear-icon-battery-mid2: "\e7c9";
$linear-icon-battery-mid3: "\e7ca";
$linear-icon-battery-full: "\e7cb";
$linear-icon-battery-charging: "\e7cc";
$linear-icon-battery-charging2: "\e7cd";
$linear-icon-battery-charging3: "\e7ce";
$linear-icon-battery-charging4: "\e7cf";
$linear-icon-battery-charging5: "\e7d0";
$linear-icon-battery-charging6: "\e7d1";
$linear-icon-battery-charging7: "\e7d2";
$linear-icon-chip: "\e7d3";
$linear-icon-chip-x64: "\e7d4";
$linear-icon-chip-x86: "\e7d5";
$linear-icon-bubble: "\e7d6";
$linear-icon-bubbles: "\e7d7";
$linear-icon-bubble-dots: "\e7d8";
$linear-icon-bubble-alert: "\e7d9";
$linear-icon-bubble-question: "\e7da";
$linear-icon-bubble-text: "\e7db";
$linear-icon-bubble-pencil: "\e7dc";
$linear-icon-bubble-picture: "\e7dd";
$linear-icon-bubble-video: "\e7de";
$linear-icon-bubble-user: "\e7df";
$linear-icon-bubble-quote: "\e7e0";
$linear-icon-bubble-heart: "\e7e1";
$linear-icon-bubble-emoticon: "\e7e2";
$linear-icon-bubble-attachment: "\e7e3";
$linear-icon-phone-bubble: "\e7e4";
$linear-icon-quote-open: "\e7e5";
$linear-icon-quote-close: "\e7e6";
$linear-icon-dna: "\e7e7";
$linear-icon-heart-pulse: "\e7e8";
$linear-icon-pulse: "\e7e9";
$linear-icon-syringe: "\e7ea";
$linear-icon-pills: "\e7eb";
$linear-icon-first-aid: "\e7ec";
$linear-icon-lifebuoy: "\e7ed";
$linear-icon-bandage: "\e7ee";
$linear-icon-bandages: "\e7ef";
$linear-icon-thermometer: "\e7f0";
$linear-icon-microscope: "\e7f1";
$linear-icon-brain: "\e7f2";
$linear-icon-beaker: "\e7f3";
$linear-icon-skull: "\e7f4";
$linear-icon-bone: "\e7f5";
$linear-icon-construction: "\e7f6";
$linear-icon-construction-cone: "\e7f7";
$linear-icon-pie-chart: "\e7f8";
$linear-icon-pie-chart2: "\e7f9";
$linear-icon-graph: "\e7fa";
$linear-icon-chart-growth: "\e7fb";
$linear-icon-chart-bars: "\e7fc";
$linear-icon-chart-settings: "\e7fd";
$linear-icon-cake: "\e7fe";
$linear-icon-gift: "\e7ff";
$linear-icon-balloon: "\e800";
$linear-icon-rank: "\e801";
$linear-icon-rank2: "\e802";
$linear-icon-rank3: "\e803";
$linear-icon-crown: "\e804";
$linear-icon-lotus: "\e805";
$linear-icon-diamond: "\e806";
$linear-icon-diamond2: "\e807";
$linear-icon-diamond3: "\e808";
$linear-icon-diamond4: "\e809";
$linear-icon-linearicons: "\e80a";
$linear-icon-teacup: "\e80b";
$linear-icon-teapot: "\e80c";
$linear-icon-glass: "\e80d";
$linear-icon-bottle2: "\e80e";
$linear-icon-glass-cocktail: "\e80f";
$linear-icon-glass2: "\e810";
$linear-icon-dinner: "\e811";
$linear-icon-dinner2: "\e812";
$linear-icon-chef: "\e813";
$linear-icon-scale2: "\e814";
$linear-icon-egg: "\e815";
$linear-icon-egg2: "\e816";
$linear-icon-eggs: "\e817";
$linear-icon-platter: "\e818";
$linear-icon-steak: "\e819";
$linear-icon-hamburger: "\e81a";
$linear-icon-hotdog: "\e81b";
$linear-icon-pizza: "\e81c";
$linear-icon-sausage: "\e81d";
$linear-icon-chicken: "\e81e";
$linear-icon-fish: "\e81f";
$linear-icon-carrot: "\e820";
$linear-icon-cheese: "\e821";
$linear-icon-bread: "\e822";
$linear-icon-ice-cream: "\e823";
$linear-icon-ice-cream2: "\e824";
$linear-icon-candy: "\e825";
$linear-icon-lollipop: "\e826";
$linear-icon-coffee-bean: "\e827";
$linear-icon-coffee-cup: "\e828";
$linear-icon-cherry: "\e829";
$linear-icon-grapes: "\e82a";
$linear-icon-citrus: "\e82b";
$linear-icon-apple: "\e82c";
$linear-icon-leaf: "\e82d";
$linear-icon-landscape: "\e82e";
$linear-icon-pine-tree: "\e82f";
$linear-icon-tree: "\e830";
$linear-icon-cactus: "\e831";
$linear-icon-paw: "\e832";
$linear-icon-footprint: "\e833";
$linear-icon-speed-slow: "\e834";
$linear-icon-speed-medium: "\e835";
$linear-icon-speed-fast: "\e836";
$linear-icon-rocket: "\e837";
$linear-icon-hammer2: "\e838";
$linear-icon-balance: "\e839";
$linear-icon-briefcase: "\e83a";
$linear-icon-luggage-weight: "\e83b";
$linear-icon-dolly: "\e83c";
$linear-icon-plane: "\e83d";
$linear-icon-plane-crossed: "\e83e";
$linear-icon-helicopter: "\e83f";
$linear-icon-traffic-lights: "\e840";
$linear-icon-siren: "\e841";
$linear-icon-road: "\e842";
$linear-icon-engine: "\e843";
$linear-icon-oil-pressure: "\e844";
$linear-icon-coolant-temperature: "\e845";
$linear-icon-car-battery: "\e846";
$linear-icon-gas: "\e847";
$linear-icon-gallon: "\e848";
$linear-icon-transmission: "\e849";
$linear-icon-car: "\e84a";
$linear-icon-car-wash: "\e84b";
$linear-icon-car-wash2: "\e84c";
$linear-icon-bus: "\e84d";
$linear-icon-bus2: "\e84e";
$linear-icon-car2: "\e84f";
$linear-icon-parking: "\e850";
$linear-icon-car-lock: "\e851";
$linear-icon-taxi: "\e852";
$linear-icon-car-siren: "\e853";
$linear-icon-car-wash3: "\e854";
$linear-icon-car-wash4: "\e855";
$linear-icon-ambulance: "\e856";
$linear-icon-truck: "\e857";
$linear-icon-trailer: "\e858";
$linear-icon-scale-truck: "\e859";
$linear-icon-train: "\e85a";
$linear-icon-ship: "\e85b";
$linear-icon-ship2: "\e85c";
$linear-icon-anchor: "\e85d";
$linear-icon-boat: "\e85e";
$linear-icon-bicycle: "\e85f";
$linear-icon-bicycle2: "\e860";
$linear-icon-dumbbell: "\e861";
$linear-icon-bench-press: "\e862";
$linear-icon-swim: "\e863";
$linear-icon-football: "\e864";
$linear-icon-baseball-bat: "\e865";
$linear-icon-baseball: "\e866";
$linear-icon-tennis: "\e867";
$linear-icon-tennis2: "\e868";
$linear-icon-ping-pong: "\e869";
$linear-icon-hockey: "\e86a";
$linear-icon-8ball: "\e86b";
$linear-icon-bowling: "\e86c";
$linear-icon-bowling-pins: "\e86d";
$linear-icon-golf: "\e86e";
$linear-icon-golf2: "\e86f";
$linear-icon-archery: "\e870";
$linear-icon-slingshot: "\e871";
$linear-icon-soccer: "\e872";
$linear-icon-basketball: "\e873";
$linear-icon-cube: "\e874";
$linear-icon-3d-rotate: "\e875";
$linear-icon-puzzle: "\e876";
$linear-icon-glasses: "\e877";
$linear-icon-glasses2: "\e878";
$linear-icon-accessibility: "\e879";
$linear-icon-wheelchair: "\e87a";
$linear-icon-wall: "\e87b";
$linear-icon-fence: "\e87c";
$linear-icon-wall2: "\e87d";
$linear-icon-icons: "\e87e";
$linear-icon-resize-handle: "\e87f";
$linear-icon-icons2: "\e880";
$linear-icon-select: "\e881";
$linear-icon-select2: "\e882";
$linear-icon-site-map: "\e883";
$linear-icon-earth: "\e884";
$linear-icon-earth-lock: "\e885";
$linear-icon-network: "\e886";
$linear-icon-network-lock: "\e887";
$linear-icon-planet: "\e888";
$linear-icon-happy: "\e889";
$linear-icon-smile: "\e88a";
$linear-icon-grin: "\e88b";
$linear-icon-tongue: "\e88c";
$linear-icon-sad: "\e88d";
$linear-icon-wink: "\e88e";
$linear-icon-dream: "\e88f";
$linear-icon-shocked: "\e890";
$linear-icon-shocked2: "\e891";
$linear-icon-tongue2: "\e892";
$linear-icon-neutral: "\e893";
$linear-icon-happy-grin: "\e894";
$linear-icon-cool: "\e895";
$linear-icon-mad: "\e896";
$linear-icon-grin-evil: "\e897";
$linear-icon-evil: "\e898";
$linear-icon-wow: "\e899";
$linear-icon-annoyed: "\e89a";
$linear-icon-wondering: "\e89b";
$linear-icon-confused: "\e89c";
$linear-icon-zipped: "\e89d";
$linear-icon-grumpy: "\e89e";
$linear-icon-mustache: "\e89f";
$linear-icon-tombstone-hipster: "\e8a0";
$linear-icon-tombstone: "\e8a1";
$linear-icon-ghost: "\e8a2";
$linear-icon-ghost-hipster: "\e8a3";
$linear-icon-halloween: "\e8a4";
$linear-icon-christmas: "\e8a5";
$linear-icon-easter-egg: "\e8a6";
$linear-icon-mustache2: "\e8a7";
$linear-icon-mustache-glasses: "\e8a8";
$linear-icon-pipe: "\e8a9";
$linear-icon-alarm: "\e8aa";
$linear-icon-alarm-add: "\e8ab";
$linear-icon-alarm-snooze: "\e8ac";
$linear-icon-alarm-ringing: "\e8ad";
$linear-icon-bullhorn: "\e8ae";
$linear-icon-hearing: "\e8af";
$linear-icon-volume-high: "\e8b0";
$linear-icon-volume-medium: "\e8b1";
$linear-icon-volume-low: "\e8b2";
$linear-icon-volume: "\e8b3";
$linear-icon-mute: "\e8b4";
$linear-icon-lan: "\e8b5";
$linear-icon-lan2: "\e8b6";
$linear-icon-wifi: "\e8b7";
$linear-icon-wifi-lock: "\e8b8";
$linear-icon-wifi-blocked: "\e8b9";
$linear-icon-wifi-mid: "\e8ba";
$linear-icon-wifi-low: "\e8bb";
$linear-icon-wifi-low2: "\e8bc";
$linear-icon-wifi-alert: "\e8bd";
$linear-icon-wifi-alert-mid: "\e8be";
$linear-icon-wifi-alert-low: "\e8bf";
$linear-icon-wifi-alert-low2: "\e8c0";
$linear-icon-stream: "\e8c1";
$linear-icon-stream-check: "\e8c2";
$linear-icon-stream-error: "\e8c3";
$linear-icon-stream-alert: "\e8c4";
$linear-icon-communication: "\e8c5";
$linear-icon-communication-crossed: "\e8c6";
$linear-icon-broadcast: "\e8c7";
$linear-icon-antenna: "\e8c8";
$linear-icon-satellite: "\e8c9";
$linear-icon-satellite2: "\e8ca";
$linear-icon-mic: "\e8cb";
$linear-icon-mic-mute: "\e8cc";
$linear-icon-mic2: "\e8cd";
$linear-icon-spotlights: "\e8ce";
$linear-icon-hourglass: "\e8cf";
$linear-icon-loading: "\e8d0";
$linear-icon-loading2: "\e8d1";
$linear-icon-loading3: "\e8d2";
$linear-icon-refresh: "\e8d3";
$linear-icon-refresh2: "\e8d4";
$linear-icon-undo: "\e8d5";
$linear-icon-redo: "\e8d6";
$linear-icon-jump2: "\e8d7";
$linear-icon-undo2: "\e8d8";
$linear-icon-redo2: "\e8d9";
$linear-icon-sync: "\e8da";
$linear-icon-repeat-one2: "\e8db";
$linear-icon-sync-crossed: "\e8dc";
$linear-icon-sync2: "\e8dd";
$linear-icon-repeat-one3: "\e8de";
$linear-icon-sync-crossed2: "\e8df";
$linear-icon-return: "\e8e0";
$linear-icon-return2: "\e8e1";
$linear-icon-refund: "\e8e2";
$linear-icon-history: "\e8e3";
$linear-icon-history2: "\e8e4";
$linear-icon-self-timer: "\e8e5";
$linear-icon-clock: "\e8e6";
$linear-icon-clock2: "\e8e7";
$linear-icon-clock3: "\e8e8";
$linear-icon-watch: "\e8e9";
$linear-icon-alarm2: "\e8ea";
$linear-icon-alarm-add2: "\e8eb";
$linear-icon-alarm-remove: "\e8ec";
$linear-icon-alarm-check: "\e8ed";
$linear-icon-alarm-error: "\e8ee";
$linear-icon-timer: "\e8ef";
$linear-icon-timer-crossed: "\e8f0";
$linear-icon-timer2: "\e8f1";
$linear-icon-timer-crossed2: "\e8f2";
$linear-icon-download: "\e8f3";
$linear-icon-upload: "\e8f4";
$linear-icon-download2: "\e8f5";
$linear-icon-upload2: "\e8f6";
$linear-icon-enter-up: "\e8f7";
$linear-icon-enter-down: "\e8f8";
$linear-icon-enter-left: "\e8f9";
$linear-icon-enter-right: "\e8fa";
$linear-icon-exit-up: "\e8fb";
$linear-icon-exit-down: "\e8fc";
$linear-icon-exit-left: "\e8fd";
$linear-icon-exit-right: "\e8fe";
$linear-icon-enter-up2: "\e8ff";
$linear-icon-enter-down2: "\e900";
$linear-icon-enter-vertical: "\e901";
$linear-icon-enter-left2: "\e902";
$linear-icon-enter-right2: "\e903";
$linear-icon-enter-horizontal: "\e904";
$linear-icon-exit-up2: "\e905";
$linear-icon-exit-down2: "\e906";
$linear-icon-exit-left2: "\e907";
$linear-icon-exit-right2: "\e908";
$linear-icon-cli: "\e909";
$linear-icon-bug: "\e90a";
$linear-icon-code: "\e90b";
$linear-icon-file-code: "\e90c";
$linear-icon-file-image: "\e90d";
$linear-icon-file-zip: "\e90e";
$linear-icon-file-audio: "\e90f";
$linear-icon-file-video: "\e910";
$linear-icon-file-preview: "\e911";
$linear-icon-file-charts: "\e912";
$linear-icon-file-stats: "\e913";
$linear-icon-file-spreadsheet: "\e914";
$linear-icon-link: "\e915";
$linear-icon-unlink: "\e916";
$linear-icon-link2: "\e917";
$linear-icon-unlink2: "\e918";
$linear-icon-thumbs-up: "\e919";
$linear-icon-thumbs-down: "\e91a";
$linear-icon-thumbs-up2: "\e91b";
$linear-icon-thumbs-down2: "\e91c";
$linear-icon-thumbs-up3: "\e91d";
$linear-icon-thumbs-down3: "\e91e";
$linear-icon-share: "\e91f";
$linear-icon-share2: "\e920";
$linear-icon-share3: "\e921";
$linear-icon-magnifier: "\e922";
$linear-icon-file-search: "\e923";
$linear-icon-find-replace: "\e924";
$linear-icon-zoom-in: "\e925";
$linear-icon-zoom-out: "\e926";
$linear-icon-loupe: "\e927";
$linear-icon-loupe-zoom-in: "\e928";
$linear-icon-loupe-zoom-out: "\e929";
$linear-icon-cross: "\e92a";
$linear-icon-menu: "\e92b";
$linear-icon-list: "\e92c";
$linear-icon-list2: "\e92d";
$linear-icon-list3: "\e92e";
$linear-icon-menu2: "\e92f";
$linear-icon-list4: "\e930";
$linear-icon-menu3: "\e931";
$linear-icon-exclamation: "\e932";
$linear-icon-question: "\e933";
$linear-icon-check: "\e934";
$linear-icon-cross2: "\e935";
$linear-icon-plus: "\e936";
$linear-icon-minus: "\e937";
$linear-icon-percent: "\e938";
$linear-icon-chevron-up: "\e939";
$linear-icon-chevron-down: "\e93a";
$linear-icon-chevron-left: "\e93b";
$linear-icon-chevron-right: "\e93c";
$linear-icon-chevrons-expand-vertical: "\e93d";
$linear-icon-chevrons-expand-horizontal: "\e93e";
$linear-icon-chevrons-contract-vertical: "\e93f";
$linear-icon-chevrons-contract-horizontal: "\e940";
$linear-icon-arrow-up: "\e941";
$linear-icon-arrow-down: "\e942";
$linear-icon-arrow-left: "\e943";
$linear-icon-arrow-right: "\e944";
$linear-icon-arrow-up-right: "\e945";
$linear-icon-arrows-merge: "\e946";
$linear-icon-arrows-split: "\e947";
$linear-icon-arrow-divert: "\e948";
$linear-icon-arrow-return: "\e949";
$linear-icon-expand: "\e94a";
$linear-icon-contract: "\e94b";
$linear-icon-expand2: "\e94c";
$linear-icon-contract2: "\e94d";
$linear-icon-move: "\e94e";
$linear-icon-tab: "\e94f";
$linear-icon-arrow-wave: "\e950";
$linear-icon-expand3: "\e951";
$linear-icon-expand4: "\e952";
$linear-icon-contract3: "\e953";
$linear-icon-notification: "\e954";
$linear-icon-warning: "\e955";
$linear-icon-notification-circle: "\e956";
$linear-icon-question-circle: "\e957";
$linear-icon-menu-circle: "\e958";
$linear-icon-checkmark-circle: "\e959";
$linear-icon-cross-circle: "\e95a";
$linear-icon-plus-circle: "\e95b";
$linear-icon-circle-minus: "\e95c";
$linear-icon-percent-circle: "\e95d";
$linear-icon-arrow-up-circle: "\e95e";
$linear-icon-arrow-down-circle: "\e95f";
$linear-icon-arrow-left-circle: "\e960";
$linear-icon-arrow-right-circle: "\e961";
$linear-icon-chevron-up-circle: "\e962";
$linear-icon-chevron-down-circle: "\e963";
$linear-icon-chevron-left-circle: "\e964";
$linear-icon-chevron-right-circle: "\e965";
$linear-icon-backward-circle: "\e966";
$linear-icon-first-circle: "\e967";
$linear-icon-previous-circle: "\e968";
$linear-icon-stop-circle: "\e969";
$linear-icon-play-circle: "\e96a";
$linear-icon-pause-circle: "\e96b";
$linear-icon-next-circle: "\e96c";
$linear-icon-last-circle: "\e96d";
$linear-icon-forward-circle: "\e96e";
$linear-icon-eject-circle: "\e96f";
$linear-icon-crop: "\e970";
$linear-icon-frame-expand: "\e971";
$linear-icon-frame-contract: "\e972";
$linear-icon-focus: "\e973";
$linear-icon-transform: "\e974";
$linear-icon-grid: "\e975";
$linear-icon-grid-crossed: "\e976";
$linear-icon-layers: "\e977";
$linear-icon-layers-crossed: "\e978";
$linear-icon-toggle: "\e979";
$linear-icon-rulers: "\e97a";
$linear-icon-ruler: "\e97b";
$linear-icon-funnel: "\e97c";
$linear-icon-flip-horizontal: "\e97d";
$linear-icon-flip-vertical: "\e97e";
$linear-icon-flip-horizontal2: "\e97f";
$linear-icon-flip-vertical2: "\e980";
$linear-icon-angle: "\e981";
$linear-icon-angle2: "\e982";
$linear-icon-subtract: "\e983";
$linear-icon-combine: "\e984";
$linear-icon-intersect: "\e985";
$linear-icon-exclude: "\e986";
$linear-icon-align-center-vertical: "\e987";
$linear-icon-align-right: "\e988";
$linear-icon-align-bottom: "\e989";
$linear-icon-align-left: "\e98a";
$linear-icon-align-center-horizontal: "\e98b";
$linear-icon-align-top: "\e98c";
$linear-icon-square: "\e98d";
$linear-icon-plus-square: "\e98e";
$linear-icon-minus-square: "\e98f";
$linear-icon-percent-square: "\e990";
$linear-icon-arrow-up-square: "\e991";
$linear-icon-arrow-down-square: "\e992";
$linear-icon-arrow-left-square: "\e993";
$linear-icon-arrow-right-square: "\e994";
$linear-icon-chevron-up-square: "\e995";
$linear-icon-chevron-down-square: "\e996";
$linear-icon-chevron-left-square: "\e997";
$linear-icon-chevron-right-square: "\e998";
$linear-icon-check-square: "\e999";
$linear-icon-cross-square: "\e99a";
$linear-icon-menu-square: "\e99b";
$linear-icon-prohibited: "\e99c";
$linear-icon-circle: "\e99d";
$linear-icon-radio-button: "\e99e";
$linear-icon-ligature: "\e99f";
$linear-icon-text-format: "\e9a0";
$linear-icon-text-format-remove: "\e9a1";
$linear-icon-text-size: "\e9a2";
$linear-icon-bold: "\e9a3";
$linear-icon-italic: "\e9a4";
$linear-icon-underline: "\e9a5";
$linear-icon-strikethrough: "\e9a6";
$linear-icon-highlight: "\e9a7";
$linear-icon-text-align-left: "\e9a8";
$linear-icon-text-align-center: "\e9a9";
$linear-icon-text-align-right: "\e9aa";
$linear-icon-text-align-justify: "\e9ab";
$linear-icon-line-spacing: "\e9ac";
$linear-icon-indent-increase: "\e9ad";
$linear-icon-indent-decrease: "\e9ae";
$linear-icon-text-wrap: "\e9af";
$linear-icon-pilcrow: "\e9b0";
$linear-icon-direction-ltr: "\e9b1";
$linear-icon-direction-rtl: "\e9b2";
$linear-icon-page-break: "\e9b3";
$linear-icon-page-break2: "\e9b4";
$linear-icon-sort-alpha-asc: "\e9b5";
$linear-icon-sort-alpha-desc: "\e9b6";
$linear-icon-sort-numeric-asc: "\e9b7";
$linear-icon-sort-numeric-desc: "\e9b8";
$linear-icon-sort-amount-asc: "\e9b9";
$linear-icon-sort-amount-desc: "\e9ba";
$linear-icon-sort-time-asc: "\e9bb";
$linear-icon-sort-time-desc: "\e9bc";
$linear-icon-sigma: "\e9bd";
$linear-icon-pencil-line: "\e9be";
$linear-icon-hand: "\e9bf";
$linear-icon-pointer-up: "\e9c0";
$linear-icon-pointer-right: "\e9c1";
$linear-icon-pointer-down: "\e9c2";
$linear-icon-pointer-left: "\e9c3";
$linear-icon-finger-tap: "\e9c4";
$linear-icon-fingers-tap: "\e9c5";
$linear-icon-reminder: "\e9c6";
$linear-icon-fingers-crossed: "\e9c7";
$linear-icon-fingers-victory: "\e9c8";
$linear-icon-gesture-zoom: "\e9c9";
$linear-icon-gesture-pinch: "\e9ca";
$linear-icon-fingers-scroll-horizontal: "\e9cb";
$linear-icon-fingers-scroll-vertical: "\e9cc";
$linear-icon-fingers-scroll-left: "\e9cd";
$linear-icon-fingers-scroll-right: "\e9ce";
$linear-icon-hand2: "\e9cf";
$linear-icon-pointer-up2: "\e9d0";
$linear-icon-pointer-right2: "\e9d1";
$linear-icon-pointer-down2: "\e9d2";
$linear-icon-pointer-left2: "\e9d3";
$linear-icon-finger-tap2: "\e9d4";
$linear-icon-fingers-tap2: "\e9d5";
$linear-icon-reminder2: "\e9d6";
$linear-icon-gesture-zoom2: "\e9d7";
$linear-icon-gesture-pinch2: "\e9d8";
$linear-icon-fingers-scroll-horizontal2: "\e9d9";
$linear-icon-fingers-scroll-vertical2: "\e9da";
$linear-icon-fingers-scroll-left2: "\e9db";
$linear-icon-fingers-scroll-right2: "\e9dc";
$linear-icon-fingers-scroll-vertical3: "\e9dd";
$linear-icon-border-style: "\e9de";
$linear-icon-border-all: "\e9df";
$linear-icon-border-outer: "\e9e0";
$linear-icon-border-inner: "\e9e1";
$linear-icon-border-top: "\e9e2";
$linear-icon-border-horizontal: "\e9e3";
$linear-icon-border-bottom: "\e9e4";
$linear-icon-border-left: "\e9e5";
$linear-icon-border-vertical: "\e9e6";
$linear-icon-border-right: "\e9e7";
$linear-icon-border-none: "\e9e8";
$linear-icon-ellipsis: "\e9e9";

