@import "../../variables";

.users.users-recover-password {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
        @include tpl-heading(2);
        background: none;
        margin-bottom: 30px;
    }

    .description {
        @include tpl-body;
        margin-bottom: 35px;
    }

    form {
        @include tpl-centered-content(560px);
    }

    .input {
        margin-bottom: 10px;

        input {
            width: 100%;
        }
    }

    .message {
        margin: 20px 0;

        &#recover-password-requestMessage {
            color: $color-error;
        }
    }

    .submit input[type=submit] {
        @include tpl-button;
        //min-width: 166px;
        width: 100%;
    }
}