@import "../../variables";

.users-modules-change-password-default {
    text-align: center;

    .title {
        @include tpl-heading(2);
        text-align: center;
        padding-bottom: 35px;
    }

    .body {
        font-size: $font-size;
        .form {
            .form-field {
                .field-wrapper {
                    input {
                        @include tpl-input-field;

                        &.invalid {
                            border-color: $color-error;
                        }
                    }
                    .field-error {
                        font-size: $font-size;
                        background: none;
                        color: $color-error;
                        padding: 5px;
                        margin-top: 0;
                    }
                }
            }
            .form-errors {
                color: $color-error;
            }
            .form-options {
                text-align: center;

                .submit {
                    @include tpl-button;
                    padding: 1px 80px 0;
                }
            }
        }
    }
}