@import "../../variables";

/* There is some style in Login.scss */

.users-modules-register {
    margin-top: 30px;
}
.users-modules-register .form-wrapper .form .form-line .input.multi {
    text-align: left;
}
.users-modules-register .form-wrapper .form .form-line .input.multi input {
    width: 49%;
    margin-right: 2%;
}
.users-modules-register .form-wrapper .form .form-line .input.multi input:last-of-type {
    margin-right: 0;
}
.users-modules-register .form-wrapper .form .form-line.required .input input {
    border-left: $field-border;
}